.about .img {
  position: relative;
  width: 95%;
  height: 60vh;
  left: 0;
  top: 0;
}
.txtBox {
  background-color: #f4f4f4;
  padding: 23vh 3% 75px;
  margin-top: -21vh;
}
.txtBox h2 {
  margin-bottom: 30px;
}
.txtBox h2 .en {
  font-size: 8vw;
  font-weight: bold;
  border-bottom: solid 5px;
  color: #1f592a;
}
.txtBox h2 .ja {
  font-weight: bold;
  padding: 0 0 8px 1rem;
  position: relative;
}
.txtBox .ja:before {
  content:"";
  position:absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #333;
}
.txtBox p {
  font-size: 15px;
  line-height: 2em;
  margin-bottom: 25px;
}
.txtBox p .big {
  font-size: 4.5vw;
  font-weight: bold;
  display: block;
  margin-bottom: 25px;
}