.btn1, .btn2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 14px 50px;
  font-size: 16px;
  text-decoration: none;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  transition: all 0.3s;
  position: relative;
}
.button:before {
  position: absolute;
  content: "";
  background-image: url(../public/img/basic/btn_icon_bk.webp);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: auto 1rem;
  width: 16px;
  height: 16px;
  right: 10px;
  top: 18px;
}
.button:hover:before {
  background-image: url(../public/img/basic/btn_icon_wh.webp);
}
.primary {
  border: solid 1px #333;
}
.primary:hover {
  background-color: #67ae3e;
  color: #fff;
  border: solid 1px #67ae3e;
}

.secondary {
  background-color: transparent;
  color: #67ae3e;
  border: 2px solid #67ae3e;
}

.secondary:hover {
  background-color: #67ae3e;
  color: #fff;
}

/* ------ タブレット・PC ------ */
@media (min-width: 500px) {
.button {
  padding: 18px 60px;
  font-size: 18px;
}
.button:before {
  width: 18px;
  height: 18px;
  right: 15px;
  top: 24px;
}
}