.ConfirmPage {
  padding: 10vh 3%;
}
.bg_yelgrn {
  background-color: #eaf5e4;
}
.section_ttl {
  margin-bottom: 30px;
}
.section_ttl .en {
  font-size: 8vw;
  font-weight: bold;
  border-bottom: solid 5px;
  color: #1f592a;
}
.section_ttl .ja {
  font-weight: bold;
  padding: 0 0 8px 1rem;
  position: relative;
  color: #333;
}
.section_ttl .ja:before {
  content:"";
  position:absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #333;
}
.bg_wht_box {
  background-color: #fff;
  box-shadow: 0 5px 10px #e3e3e37e;
  padding: 2rem 4% 4rem;
  margin: 2rem 0 0;
}
.required_note {
  font-size: 13px;
  font-weight: bold;
  color: #67ae3e;
  display: block;
  text-align: right;
  margin-bottom: 2rem;
}
.required_mark {
  font-size: 15px;
  margin: 0 0.3em;
  color: #67ae3e;
}
.form_group dt {
  font-weight: bold;
  display: block;
  font-size: 18px;
  margin-bottom: 1rem;
}
.form_group dd {
  margin-bottom: 2rem;
}
.error_txt {
  color: red;
  font-size: 14px;
  margin: 0 0 2rem;
}
.contactBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contactBtn button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 14px 9vw;
  font-size: 3.5vw;
  text-decoration: none;
  border-radius: 999px;
  cursor: pointer;
  transition: all 0.3s;
  position: relative;
  color: #fff;
  border: solid 1px#fff;
  width: 9.5rem;
}
.contactBtn button:first-child {
  background-color: #67ae3e;
}
.contactBtn button:last-child {
  background-color: #1f592a;
}
.contactBtn button+button{
  margin-left: 5vw;
}
.contactBtn button:before {
  position: absolute;
  content: "";
  background-image: url(../public/img/basic/btn_icon_wh.webp);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: auto 1em;
  width: 16px;
  height: 1em;
  right: 10px;
  top: 18px;
}