.contact {
  background-image: url("/img/basic/top_bg01.webp");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  padding: 50px 5%;
}
.contactTtl {
  white-space: nowrap;
  font-size: 18vw;
  font-weight: bold;
  display: flex;
  justify-content:center;
  align-items:flex-start;
  color: #fff;
  border-bottom: solid 5px #fff;
  margin-bottom: 30px;
}
.contactTxt {
  font-weight: bold;
  display: block;
  text-align: center;
  color: #fff;
  margin-bottom: 50px;
  line-height: 2rem;
}
.contactBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contactBtn a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 14px 9vw;
  font-size: 3.5vw;
  text-decoration: none;
  border-radius: 999px;
  cursor: pointer;
  transition: all 0.3s;
  position: relative;
  color: #fff;
  border: solid 1px#fff;
}
.contactBtn a+a{
  margin-left: 5vw;
}
.contactBtn a:before {
  position: absolute;
  content: "";
  background-image: url(../public/img/basic/btn_icon_wh.webp);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: auto 16px;
  width: 16px;
  height: 1em;
  right: 10px;
  top: 18px;
}

/* ------ タブレット・PC ------ */
@media (min-width: 500px) {
.contact {
  background-image: url("/img/basic/pc_top_bg01.webp");
  background-size: 100% 100%;
  padding: 30px 15%;
  overflow: hidden;
  clear: both;
}
.contact .contact_txt {
  float: left;
  width: 50%;
}
.contactTtl {
  font-size: 100px;
  border-bottom: solid 10px #fff;
  margin-bottom: 30px;
}
.contactTxt {
  font-size: 20px;
  margin-bottom: 30px;
  line-height: 2.5rem;
}
.contactBtn {
  float: right;
  width: 40%;
  padding: 40px 0;
  justify-content: space-between;
  align-items:  center;
  flex-direction: column;
}
.contactBtn a {
  padding: 18px 80px;
  font-size: 20px;
  transition: all 0.3s;
}
.contactBtn a+a{
  margin: 20px 0 0 0;
}
.contactBtn a:before {
  width: 18px;
  height: 18px;
  right: 15px;
  top: 24px;
}
.contactBtn a:hover {
  background-color: #fff;
  color: #333;
}
.contactBtn a:hover:before {
  background-image: url(../public/img/basic/btn_icon_bk.webp);
}
}