.bg_yelgrn {
  background-color: #eaf5e4;
}
.bg_grn {
  background-color: #1f592a;
}
.inner {
  padding: 10vh 3%;
}
.section_ttl {
  margin-bottom: 30px;
}
.section_ttl .en {
  font-size: 8vw;
  font-weight: bold;
  border-bottom: solid 5px;
  color: #1f592a;
}
.section_ttl .ja {
  font-weight: bold;
  padding: 0 0 8px 1rem;
  position: relative;
  color: #333;
}
.section_ttl .ja:before {
  content:"";
  position:absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #333;
}
.txt_box {
  font-size: 15px;
  line-height: 2em;
  margin-bottom: 25px;
}
.txt_box .big {
  font-size: 4.8vw;
  font-weight: bold;
  display: block;
  margin-bottom: 25px;
}
.bg_wht_box {
  background-color: #fff;
  box-shadow: 0 5px 10px #e3e3e3;
  padding: 2rem 4% 4rem;
  margin: 2rem 0 0;
}
.required_note {
  font-size: 13px;
  font-weight: bold;
  color: #67ae3e;
  display: block;
  text-align: right;
  margin-bottom: 2rem;
}
.required_mark {
  font-size: 18px;
  margin: 0 0.3em;
  color: #67ae3e;
}
.bg_grn .section_ttl .en {
  color: #67ae3e;
}
.bg_grn .section_ttl .ja {
  color: #fff;
}
.bg_grn .section_ttl .ja:before {
  background-color: #fff;
}
.bg_grn .txt_box {
  color: #fff;
}
.ContactPage section {
  scroll-margin-top: 11vh;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 14px 50px;
  font-size: 16px;
  text-decoration: none;
  border-radius: 999px;
  cursor: pointer;
  transition: all 0.3s;
  position: relative;
  color: #fff;
  border: solid 1px #fff;
}
.btn a:before {
  position: absolute;
  content: "";
  background-image: url(../public/img/basic/btn_icon_wh.webp);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: auto 1em;
  width: 16px;
  height: 16px;
  right: 15px;
  top: 16px;
  transform: rotate(270deg);
}


/* ------ タブレット・PC ------ */
@media (min-width: 500px) {
.ContactPage section {
  scroll-margin-top: 10vh;
}
.inner {
  padding: 120px 0;
  width: 1024px;
  margin: auto;
}
.section_ttl {
  margin-bottom: 65px;
  letter-spacing: 0.1rem;
}
.section_ttl .en {
  font-size: 52px;
  border-bottom: solid 8px;
}
.section_ttl .ja {
  font-size: 22px;
  padding: 0 0 14px 30px;
}
.txt_box {
  font-size: 16px;
}
.txt_box .big {
  font-size: 30px;
  margin-bottom: 35px;
}
.btn a {
  padding: 18px 60px;
  font-size: 18px;
}
.btn a:hover {
  background-color: #67ae3e;
  border: solid 1px #67ae3e;
}
.btn a:before {
  width: 18px;
  height: 18px;
  right: 15px;
  top: 20px;
}
}