.header {
  height: 11vh;
  background-color: #fff;
  position: fixed ;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.header_container {
  padding: 2vh 4% 2vh 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
  margin-right: auto;
  margin-left: auto;
  border-bottom: solid 1px #67ae3e;
}
.header_logo a {
  position: absolute;
  height: 7.5vh;
  width: 15%;
  top: 2vh;
  left: 3%;
}

.header_container input[type="checkbox"] {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
.hamburger {
  display: flex;
  width: 40px;
  height: 7vh;
  padding-bottom: 10px;
  position: relative;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.hamburger .hamburger_line,
.hamburger .hamburger_line::before,
.hamburger .hamburger_line::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #67ae3e;
  transition: all 0.5s;
}
.hamburger .hamburger_line::before {
  top: -10px;
}
.hamburger .hamburger_line::after {
  bottom: -10px;
}
.header_container input[type="checkbox"]:checked + .hamburger .hamburger_line {
  background-color: transparent;
}
.header_container input[type="checkbox"]:checked + .hamburger .hamburger_line::before {
  top: 0;
  transform: rotate(45deg);
}
.header_container input[type="checkbox"]:checked + .hamburger .hamburger_line::after {
  transform: rotate(-45deg);
  bottom: 0;
}
.hamburger .hamburger_txt {
  color: #1f592a;
  font-weight: bold;
  padding-top: 130%;
  letter-spacing: 0.1rem;
}
.hamburger .hamburger_txt::before {
  content: "MENU";
}
.header_container input[type="checkbox"]:checked + .hamburger .hamburger_txt::before {
  content: "CLOSE";
  letter-spacing: 0;
}

.nav_sp {
  position: fixed;
  width: 100%;
  height: 100vh;
  bottom: -100vh;
  right: 0;
  background-color: #eaf5e4;
  color: #333;
  padding: 1vh 6%;
  transition: all 0.5s;
  border-radius: 50px 50px 0 0;
  font-weight: bold;
  display: block;
}
.nav_pc {
  display: none;
}
.header_container input[type="checkbox"]:checked ~ .nav_sp {
  bottom: -17vh;
}
.nav_sp .nav_lIst {
  border-bottom: dotted 2px;
  letter-spacing: 0.1rem;
}
.nav_sp .nav_lIst:last-child {
  border-bottom: none;
}
.nav_sp .nav_item a {
  transition: all 0.3s;
  margin: 3.3vh 0;
  display: block;
}
.nav_sp .nav_item a span {
  display: block;
}
.nav_sp .nav_item a span.ja {
  font-size: 1.5vh;
  color: #1f592a;
  margin-bottom: 0.2vh;
}
.nav_sp .nav_item a span.en {
  font-size: 3vh;
}
.nav_sp .nav_lIst a {
  margin-bottom: 1.5vh;
  display: block;
  font-size: 2vh;
}
/* ------ タブレット・PC ------ */
@media (min-width: 500px) {
.header {
  height: 10vh;
}
.header_container {
  padding: 2vh 2%;
}
.header_logo a {
  height: 70%;
  width: 14%;
}
.header_logo a:hover {
  opacity: 0.7;
}
.header_container input[type="checkbox"] {
  display: none;
}
.hamburger {
  display: none;
}
.nav_sp {
  display: none;
}
.nav_pc {
  display: block;
  color: #333;
  position: fixed;
  width: 50%;
  right: 0;
  font-weight: bold;
  display: block;
}
.nav_pc .nav_lIst {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 4rem;
}
.nav_pc .nav_lIst li+li {
  padding-left: 2rem;
}
.nav_pc .nav_lIst li a {
  font-size: 14px;
}
.nav_pc .nav_lIst li a:hover {
  color: #67ae3e;
  transition: all 0.3s;
}
.nav_pc .nav_lIst li:last-child a {
  background-color: #67ae3e;
  border-radius: 50px;
  color: #fff;
  padding: 1rem 2rem;
}
.nav_pc .nav_lIst li:last-child a:hover {
  background-color: #1f592a;
  transition: all 0.4s;
}
}