.ServicePage section {
  scroll-margin-top: 11vh;
}
.bg_yelgrn {
  background-color: #eaf5e4;
}
.inner {
  padding: 10vh 3% 0vh;
}
.section_ttl {
  margin-bottom: 30px;
}
.section_ttl .en {
  font-size: 8vw;
  font-weight: bold;
  border-bottom: solid 5px;
  color: #1f592a;
}
.section_ttl .ja {
  font-weight: bold;
  padding: 0 0 8px 1rem;
  position: relative;
  color: #333;
}
.section_ttl .ja:before {
  content:"";
  position:absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #333;
}
.txt_box {
  font-size: 15px;
  line-height: 2em;
  margin-bottom: 25px;
}
.txt_box .big {
  font-size: 4.8vw;
  font-weight: bold;
  display: block;
  margin-bottom: 25px;
}
.txt_box .bold {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}
.section_sub_ttl {
  color: #1f592a;
  font-weight: bold;
  font-size: 4.5vw;
  padding: 0.4rem 0 0.4rem 0.8rem;
  border-left: solid 0.4rem #1f592a;
  margin-bottom: 25px;
}
.img {
  overflow: hidden;
}
.support .img  {
  position: relative;
  bottom: -5vh;
}
.support .img img {
  width: 100%;
  margin-left: 10%;
}
.support .bg_yelgrn {
  margin-bottom: 6vh;
}
.section_sub_ttl {
  color: #1f592a;
  font-weight: bold;
  font-size: 5.5vw;
  padding: 0.4rem 0 0.4rem 0.8rem;
  border-left: solid 0.4rem #1f592a;
  margin-bottom: 25px;
}
.section_sub_ttl .big {
  font-size: 8vw;
}
.section_sub_ttl .yelgrn {
  color: #67ae3e;
}
.reasons_ol .reasons_ttl {
  overflow: hidden;
  clear: both;
  margin-bottom: 25px;
}
.reasons_ol .reasons_ttl .nb {
  display: block;
  float: left;
  width: 15%;
  position: relative;
}
.reasons_ol .reasons_ttl .nb::before {
  position: absolute;
  width: 100%;
  height: 100%;
  color: #67ae3e;
  top: 0;
  left: 0;
  font-size: 9vw;
  font-weight: lighter;
  font-family: "游ゴシック", "Yu Gothic", "Noto Sans JP", sans-serif;
  display: block;
  margin-top: -3%;
}
.reasons_ol li:first-child .reasons_ttl .nb::before {
  content: "01";
}
.reasons_ol li:nth-child(2) .reasons_ttl .nb::before {
  content: "02";
}
.reasons_ol li:nth-child(3) .reasons_ttl .nb::before {
  content: "03";
}
.reasons_ol .reasons_ttl .txt {
  display: block;
  float: right;
  width: 85%;
  font-weight: bold;
  color: #1f592a;
  font-size: 4.4vw;
  padding-left: 3%;
  margin-left: 3%;
  border-left: solid 1.5px #a5a5a5;
}
.reasons_ol li .img {
  margin-bottom: 25px;
}
.reasons_ol li .img {
  margin: 0 13% 25px;
}
.reasons_ol p {
  padding-bottom: 50px;
  border-bottom: dotted 2px #bdbdbd;
  margin-bottom: 50px;
}
.reasons_ol li:last-child p {
  border-bottom: none;
  margin-bottom: 75px;
}

/* ------ タブレット・PC ------ */
@media (min-width: 500px) {
.ServicePage section {
  scroll-margin-top: 10vh;
}
.inner {
  padding: 120px 0;
}
.section_ttl {
  margin-bottom: 65px;
  letter-spacing: 0.1rem;
}
.section_ttl .en {
  font-size: 52px;
  border-bottom: solid 8px;
}
.section_ttl .ja {
  font-size: 22px;
  padding: 0 0 14px 30px;
}
.section_sub_ttl {
  font-size: 27px;
  padding: 0.4rem 0 0.4rem 0.8rem;
  border-left: solid 0.4rem #1f592a;
  margin: 0 0 120px 10%;
}
.section_sub_ttl .big {
  font-size: 55px;
}
.txt_box {
  font-size: 16px;
}
.txt_box .big {
  font-size: 30px;
  margin-bottom: 35px;
}
.support {
  position: relative;
}
.support .inner {
  width: 30%;
  margin: 0 10%;
}
.support .img  {
  position: absolute;
  top: -15px;
  right: 0;
  bottom: auto;
  width: 47%;
  z-index: 10;
  overflow: visible;
  margin-right: 3%;
}
.support .img img {
  width: 100%;
  margin-left: 0;
}
.reasons_ol {
  margin: 0 10%;
}
.reasons_ol li {
  overflow: hidden;
  clear: both;
  padding-bottom: 100px;
  margin-bottom: 100px;
  border-bottom: dotted 2px #bdbdbd;
}
.reasons_ol li:last-child {
  padding-bottom: 100px;
  margin-bottom: 0;
  border-bottom: none;
}
.reasons_ol .reasons_ttl {
  float: left;
  width: 55%;
  margin-bottom: 75px;
}
.reasons_ol li .img {
  float: right;
  width: 45%;
  margin: 0;
}
.reasons_ol li .img img {
  width: 70%;
  margin: 0 auto;
}
.reasons_ol p {
  float: left;
  width: 45%;
  padding-bottom: 0;
  border-bottom: none;
  margin-bottom: 0;
}
.reasons_ol .reasons_ttl .nb {
  width: 13%;
}
.reasons_ol .reasons_ttl .nb::before {
  font-size: 60px;
}
.reasons_ol .reasons_ttl .txt {
  width: 87%;
  font-size: 30px;
}

}