/* hero */
.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
}
.gr {
  color: #1f592a;
  display: inline;
}
.lead_ttl {
  position: absolute;
  z-index: 50;
  top: 14vh;
  width: 45%;
  right: 12%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  writing-mode: vertical-rl;
  font-weight: bold;
  font-size: 3.5vh;
  letter-spacing: 0.1rem;
}
.lead_ttl p {
  background: #fff;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 3px 3px 0 3px #67ae3e;
}
.lead_ttl p:nth-child(2) {
  margin-top: 2rem;
}
.lead_txt {
  position: absolute;
  z-index: 50;
  top: 16vh;
  width: 29%;
  left: 0;
  writing-mode: vertical-rl;
  font-weight: bold;
  font-size: 2vh;
  letter-spacing: 0.1rem;
  line-height: 2rem;
}
.hero h1 {
  position: absolute;
  z-index: 1;
  width: 95%;
  height: 50%;
  bottom: 0;
  left: 4%;
}
/* about */
.about .img {
  width: 95%;
  margin-bottom: 5vh
}
.about .txtBox {
  background-color: #f4f4f4;
  padding: 23vh 3% 75px;
  margin-top: -21vh;
}
.about .txtBox h2 {
  margin-bottom: 30px;
}
.about .txtBox h2 .en {
  font-size: 8vw;
  font-weight: bold;
  border-bottom: solid 5px;
  color: #1f592a;
}
.about .txtBox h2 .ja {
  font-weight: bold;
  padding: 0 0 8px 1rem;
  position: relative;
}
.about .txtBox .ja:before {
  content:"";
  position:absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #333;
}
.about .txtBox p {
  font-size: 15px;
  line-height: 2em;
  margin-bottom: 25px;
}
.about .txtBox p .big {
  font-size: 4.5vw;
  font-weight: bold;
  display: block;
  margin-bottom: 25px;
}
/* service */
.service  {
  overflow: hidden;
}
.service .img {
  margin: 75px -5% 0 5%;
}
.service .txtBox {
  padding: 75px 3%;
}
.service .txtBox h2 {
  margin-bottom: 30px;
}
.service .txtBox h2 .en {
  font-size: 8vw;
  font-weight: bold;
  border-bottom: solid 5px;
  color: #1f592a;
}
.service .txtBox h2 .ja {
  font-weight: bold;
  padding: 0 0 8px 1rem;
  position: relative;
}
.service .txtBox .ja:before {
  content:"";
  position:absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #333;
}
.service .txtBox p {
  font-size: 15px;
  line-height: 2em;
  margin-bottom: 25px;
}
.service .txtBox p .big {
  font-size: 22px;
  font-weight: bold;
  display: block;
  margin-bottom: 25px;
}

/* ------ タブレット・PC ------ */
@media (min-width: 500px) {
/* hero */
.lead_ttl {
  width: 45%;
  height: 280px;
  top: 23%;
  left: 7%;
  right: auto;
  writing-mode: horizontal-tb;
  font-size: 4.2vh;
}
.lead_ttl p {
  padding: 15px;
  border-radius: 5px;
  box-shadow: 5px 5px 0 5px #67ae3e;
}
.lead_ttl p:nth-child(2) {
  margin: 0 0 0 15rem;
}
.lead_txt {
  top: auto;
  left: 5%;
  bottom: 23%;
  width: 45%;
  writing-mode: horizontal-tb;
  line-height: 3rem;
}
.hero h1 {
  width: 70%;
  height: 85%;
  bottom: 0;
  left: auto;
  right: 0;
}
/* about */
.about {
  clear: both;
  overflow: hidden;
  background-color: #f4f4f4;
  border-radius:  0 50vh 50vh 0;
  margin-right: 2%;
}
.about .img {
  float: left;
  width: 50%;
  margin: 0;
}
.about .txtBox {
  float: left;
  width: 35%;
  padding: 65px 0 0;
  margin: 0 0 0 5%;
}
.about .txtBox h2, .service .txtBox h2 {
  margin-bottom: 65px;
}
.about .txtBox h2 .en, .service .txtBox h2 .en {
  font-size: 52px;
  border-bottom: solid 8px;
}
.about .txtBox h2 .ja, .service .txtBox h2 .ja {
  font-size: 22px;
  padding: 0 0 14px 30px;
}
.about .txtBox p .big, .service .txtBox p {
  font-size: 30px;
  margin-bottom: 35px;
}
.about .txtBox p, .service .txtBox p {
  font-size: 15px;
  line-height: 2em;
  margin-bottom: 35px;
}
/* service */
.service {
  clear: both;
  overflow: hidden;
  margin: 150px 0 250px;
}
.service .img {
  margin: 0 5% 0;
  float: right;
  width: 40%;
}
.service .txtBox {
  float: right;
  width: 35%;
  margin-right: 5%;
  padding: 150px 0 0 0;
}
}